.caja{width: 100px;
height: 100px;
background: red;
color: white;}

#caja1{background: yellow;
position: absolute;
top: 1px;
left: 1px;}

#caja2{background: red;
position: absolute;
top: 1px;
right: 1px;}

#caja3{background: blue;
position:absolute;
bottom: 1px;
left: 1px;}

#caja4{background: green;
    position:absolute;
    bottom: 1px;
    right: 1px;}