.cajap{width: 100px;
    height: 100px;
    color: white;
    display: inline-block;
    background: blue;
    top: 25px;
    position: fixed;}

.cajag{overflow:scroll;
    width: 500px;
    height: 300px;
    position: relative;
}

p{margin-left: 200px;}