
h2{text-align: center;}

table {border: 1px solid #000; text-align: center;}

#ta1{background-color: dodgerblue; color: white;}

#ta2{background-color:dodgerblue; color: yellow;}

#ta3{background-color: brown;}