body{background-color: lightcoral;}
h1{text-align: center;}
h2{background-color: rgb(116, 58, 80); color: white; padding-left: 5%;}
#t1{padding-left: 10%;}
#t2{font-style: italic; text-align: center;}